<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.fh.api.admin.member.mapper.IMemberMapper">

    <insert id="reguser" parameterType="com.fh.api.admin.reg.po.Member">
        insert into t_member (username,password,phone,email,birthday,regTime,lastLoginTime)
        values (#{username},#{password},#{phone},#{email},#{birthday},#{regTime},#{lastLoginTime})
    </insert>

</mapper>